<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Vigil Almost-All Rules for Test Projects" Description="This rule set is a customized reduction of the Microsoft All Rules, removing cases that overlap with Code Contracts or go against the convention of test methods." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1707" Action="None" />
  </Rules>
</RuleSet>