@model Vigil.Web.Areas.Patron.Models.PatronSearchResultModel
<h2>Patrons</h2>
<table>
    <caption>
        Displaying @Model.Patrons.Count() of @Model.TotalRecords total records.
    </caption>
    <thead>
        <tr><th>Account</th></tr>
    </thead>
    <tbody>
        @foreach (var patron in Model.Patrons)
        {
            <tr>
                <td>
                    @Html.ActionLink(patron.AccountNumber, "Index", "Account", new { accountNumber = patron.AccountNumber }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("New Patron", "Create")